*~
*.la
*.lo
*.mo
*.o
.dirstamp
.deps/
.libs/

/Logs/

/acl-*
/chacl
/getfacl
/setfacl

/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/ar-lib
/config.cache
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/test-driver
Makefile
Makefile.in
stamp-h1

*.log
*.trs

/include/acl
/include/config.h
/include/config.h.in
/include/sys
