*.la
*.lo
*.mo
*.o
*[-.]manifest
.libs/
/.census
/Logs/
/acl-*
/aclocal.m4
/autom4te.cache/
/chacl/chacl
/config.guess
/config.log
/config.status
/config.sub
/configure
/doc/CHANGES.gz
/getfacl/getfacl
/include/acl
/include/builddefs
/include/config.h
/include/sys
/libtool
/ltmain.sh
/po/acl.pot
/setfacl/setfacl
acl-*.tar.gz
install-sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
config.h.in
*~
